/* ======= HERO SECTION ======= */
body {
  margin: 0;
  padding-top:90px;
  background:  #e29c96;
  color:#371601;
  
  
}

.cake-hero {
  position: relative;
  height: 40vh;              /* adjust if you want taller */
  display: flex;
  flex-direction: column;
  justify-content: center;   /* vertical center */
  align-items: center;       /* horizontal center */
  text-align: center;
  color: white;
  width: 100vw;              /* full viewport width */
  margin: 0;
  padding: 0;

  background: 
    url("https://i.pinimg.com/736x/d1/e1/cc/d1e1cc770dbf7a79e9d4a82690f647ac.jpg") top/cover no-repeat;
  background-size: cover;
  background-position: center;
}

.cake-hero h1 {
  font-size: 80px;
  color:#371601;
  margin: 0;
  z-index: 1;
}

.cake-hero p {
  font-size: 20px;
  color:#371601;
  margin-top: 10px;
  z-index: 1;
}




/* ======= OPTIONS SECTION ======= */
.cake-options {
  padding: 60px;
  background:  #e29c96;
}

.cake-options h2 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}

.options-grid {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.option-card {
  width: 280px;
  background: #f5e9de;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.08);
  text-align: center;
  cursor: pointer;
  transition: 0.2s ease;
}

.option-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 14px rgba(0,0,0,0.15);
  background:rgba(255, 255, 255, 0.786);
}

.option-card img {
  width: 100%;
  height: 180px;
  border-radius: 20px;
  object-fit: cover;
}

.option-card h3 {
  margin: 15px 0;
  font-size: 22px;
}

/* ======= TESTIMONIALS ======= */
.testimonials {
  padding: 60px;
  background: #f5e9de;
  
}

.testimonials h2 {
  text-align: center;
  margin-bottom: 40px;
}

.testimonial-grid {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.testimonial-grid img {
  width: 250px;
  height: 250px;
  border-radius: 20px;
  object-fit: cover;
}

.testimonial:last-child {
  margin-bottom: 100px; 
}
