.menu-hero {
  width: 100%;
  height: 400px;
  background: url('images/menu-hero.jpg') center/cover no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-hero .overlay {
  text-align: center;
  color: white;
  text-shadow: 0 0 10px rgba(0,0,0,0.6);
}

.menu-hero h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.menu-hero p {
  font-size: 1.25rem;
}

.menu-section h2{
    margin-bottom: 20px;
    font-size:30px;
}
/* MENU CONTAINER */
.menu-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 30px;
}

/* RECTANGLE CARD */
.menu-card {
  background: #fdf4e9;
  display: flex;
  position: relative; /* important */
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 5px 12px rgba(0,0,0,0.15);
  transition: .2s ease;
}

.menu-card:hover {
  transform: scale(.987); 
  box-shadow: 0 25px 30px rgba(255, 253, 253, 0.504);
}

.menu-card:last-child {
  margin-bottom: 100px; 
}

/* IMAGE ON LEFT */
.menu-card img {
  width: 280px;
  height: 200px;
  object-fit: cover;
  margin: 10px;
  border-radius: 10px;
}

/* TEXT */
.card-info {
  padding: 18px 20px;
  flex: 1;
  position: relative;
}

.card-info h3 {
  margin-bottom: 6px;
  color: #371601;
  font-weight: 700;
  font-size: 25px;
}

.card-info p {
  margin-bottom: 8px;
  color: #5c3d2e;
  font-size: 1rem;
}

.price {
  position: absolute;
  bottom: 40px;
  font-size: 30px;
  font-weight: 700;
  color: #b45f3c;
}

/* ADD BUTTON - TRUE CORNER FIX */
.add-to-cart {
  width: 150px;
  height: 50px;
  position: absolute;
  bottom: 20px;
  right: 30px;
  background: #ca8a5d;
  color: white;
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  transition: 0.2s ease;
}

.add-to-cart .minus,
.add-to-cart .plus {
 background: #f8f7f7;
  color: rgb(0, 0, 0);
  border: none;
  font-size:20px;
  cursor: pointer;
  margin: 0 5px;
  padding:2px 10px;
  border-radius:7px;
}

.add-to-cart .qty {
  font-weight: bold;
  min-width: 20px;
  display: inline-block;
  text-align: center;
  font-size:20px;
  color:black;
}


.add-to-cart:hover {
  background: #b3784d;
}

/* cart-footer.css */
.cart-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f0eeee;
  border-top: 1px solid #ccc;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
  font-family: Arial, sans-serif;
  z-index: 1000;
  font-size:20px;
  font-weight: bolder;
}

.cart-footer.hidden {
  display: none;
}

.view-cart-btn {
  background-color: #ff6b6b;
  color: white;
  border: none;
  padding: 20px 40px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size:18px;
}

.view-cart-btn:hover {
  background-color: #ff4c4c;
}



