/* Basic Styling */
body {
  margin: 0;
  padding-top:90px;
  background: #e29c96;
  color:#371601;
  
}

h2 {
  margin: 0;
  font-size: 2.2rem;
  text-align: center;
}

/* ------------------ NAVBAR ------------------ */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 60px;
  background: #f5e9de;
  position: fixed;
  top: 0;
  left:0;
  right:0; 

  display:flex;
  justify-content: space-between;
  align-items: center;

  padding: 18px 60px;
  
  box-shadow: 0 10px 20px rgba(0,0,0,0.08);

  z-index: 1000;
 
  
}
.nav-links a {
  text-decoration: none;
  color: #4a2c2a;
  font-size: 1rem;
  padding: 6px 10px;
  transition: 0.3s ease;
}


.nav-links a.cake-dates {
  padding: 6px 14px;
  border-radius: 6px;
  font-weight: 700;
}

.nav-links a.cake-dates:hover {
  background: #f18abf;
  color: white;
}


/* Logo Text */
.logo {
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 1px;
}

/* Links */
.nav-links {
  display: flex;
  gap: 28px;
  list-style-type: none;
}

.nav-links a {
  text-decoration: none;
  color: #4a2c2a;
  font-size: 1rem;
  padding: 6px 10px;
  transition: 0.3s ease;
}

/* Hover */
.nav-links a:hover {
  color: black;
  background:#d6967a;
  border-bottom: 2px solid #b45f3c;
  border-radius:6px;
  font-size:18px;
}

/* ------------------ SECTION 1 HERO ------------------ */

.hero {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 70px 80px;
  align-items: center;
  background:#e7e2dc;
  margin:30px;
  margin-top : 40px;
  border-radius:50px;

}

/* center text block */
.hero-center {
  text-align: center;
  flex: 1;
}

.hero-center h1 {
  font-size: 4rem;
  margin-bottom: 10px;
}

.hero-center p {
  font-size: 1.2rem;
  margin-bottom: 24px;
}


/* Hero Images */
.hero-images {
  display: flex;
  gap: 12px;
}
.hero-images img {
  width: 250px;
  height: 240px;
  object-fit: cover;
  border-radius: 14px;
  box-shadow: 0px 5px 12px rgba(0,0,0,0.15);
}

.hero-images img:hover{
    transform:scale(1.05);
    opacity:0.8;
    transition: transform 0.3s ease;
    cursor:pointer; 
    box-shadow:0 10px 20px rgba(67, 66, 66, 0.3);
    
    
}

.head {
  font-family: "Alfa Slab One", serif;
  font-size: 40px;
  color: rgb(62, 4, 4);
  font-weight: 900; /* makes it bolder */
}

.p1 {
  font-family: "Cursive", "Reem Kufi Fun", sans-serif; /* cursive fallback */
  font-style: italic; /* corrected from 'italics' */
  color:rgba(166, 53, 11, 0.968)
   /* smaller than 20px */
}

/* ------------------ SECTION 2 PRODUCTS ------------------ */

.products h2 {
  text-align: center;
  margin-bottom: 16px;
  font-size: 2rem;
  color: #371601;
}

.outlets,
.products {
  justify-content: center;
  gap: 50px;
  padding: 70px 80px;
  align-items: center;
  background:#e7e2dc;
  margin:30px;
  margin-top : 40px;
  border-radius:50px;
   
}



/* Scrollable grid */

.grid.scrollable {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  flex-wrap: nowrap;  /* keep cards in a row */
  padding: 20px;      /* smaller padding */
  
}



/* Cards inside scrollable */

.scrollable .card {
  flex: 0 0 240px;   /* fixed width */
  min-width: 300px;
  background: #e7e2dc;
  border-radius: 12px;
  text-align: center;
  padding-bottom: 18px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.grid.scrollable .card:hover {
  transform: scale(1.03);
  background: white;
  transition: transform 0.3s ease;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}


.card img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card h3 {
  margin: 14px 0 6px;
  
}

.card p{
    padding: 0px;
}

.card span {
  color: #b45f3c;
  font-weight: bold;
  font-size:22px;
}


/* ------------------ SECTION 3 ORDER ------------------ */
#outlets .card {
    flex: 0 0 350px;
    min-width:500px;
}
#outlets .card img {
  height: 250px;        
}


/* ------------------ FOOTER ------------------ */

footer {
  text-align: center;
  padding: 40px 0;
  background: #f5e0d1;
}
footer h3 {
  margin-bottom: 6px;
}
footer p {
  margin: 3px;
}

